[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HTSCluster"]
	path = HTSCluster
	url = https://github.com/andreamrau/htscluster
[submodule "ebdbNet"]
	path = ebdbNet
	url = https://github.com/andreamrau/ebdbnet
