[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ebdbNet"]
	path = ebdbNet
	url = https://github.com/andreamrau/ebdbnet
	shallow = true
	registered = true
[submodule "HTSCluster"]
	path = HTSCluster
	url = https://github.com/andreamrau/htscluster
	shallow = true
	registered = true
[submodule "padma"]
	path = padma
	url = https://github.com/andreamrau/padma
	shallow = true
	registered = true
